In [1]:
#Q1. Create one variable containing following type of data:

In [8]:
#String
a='Ram'
a

'Ram'

In [9]:
type(a)

str

In [10]:
#List
_b=[13,21,0.467,True,2+3j,'joker']
_b

[13, 21, 0.467, True, (2+3j), 'joker']

In [11]:
type(_b)

list

In [12]:
#float
c=3.14
c

3.14

In [13]:
type(c)

float

In [14]:
#Tuple
go=(13,21,0.321,False,'goa',4-81j)
go

(13, 21, 0.321, False, 'goa', (4-81j))

In [15]:
type(go)

tuple

In [16]:
#Q2. Given are some following variables containing data:

In [17]:
#var1=''
var1=''
var1

''

In [18]:
type(var1)

str

In [35]:
#var2 = ‘[ DS , ML , Python]’
var2 = ‘[ 'DS' , 'ML' , 'Python']’
var2

SyntaxError: invalid character in identifier (<ipython-input-35-e38696e7382a>, line 2)

In [36]:
#var3 = ['DS','ML','PYTHON']
var3 = ['DS','ML','PYTHON']
var3

['DS', 'ML', 'PYTHON']

In [37]:
type(var3)

list

In [38]:
#var4 = 1.
var4 = 1.
var4

1.0

In [39]:
type(var4)

float

In [42]:
#Q3. Explain the use of the following operators using an example:

In [43]:
#(i) / >> This symbol is used for division. As a result it will give quotient.
20/5

4.0

In [44]:
#(ii) % >> This symbol indicates the remainder.
20%6

2

In [47]:
#(iii) // >> This symbol results to give quotient.
10//2

5

In [48]:
#(iv) ** >> This will give answer after solving power
2**6

64

In [49]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [51]:
"Mutable data type- which can change any of the elements present in the given data"
"example- List"
list=[0.23,21,13,True,'sun',2+3j]
list

[0.23, 21, 13, True, 'sun', (2+3j)]

In [52]:
list[4]

'sun'

In [55]:
list[4]= 'pwskills'

In [56]:
list

[0.23, 21, 13, True, 'pwskills', (2+3j)]

In [57]:
"Immutable data type- which cannot change any of the elements present in the given data"
"example- String"
string='Sanjay'
string

'Sanjay'

In [58]:
string[2]

'n'

In [61]:
string[2]=k
string

NameError: name 'k' is not defined

In [ ]:
#Hence in immutable data types, we are unable to change the element in the string.